<% listings.each do |listing| %>
<div class="row-fluid">
  <% hot_or_cold = listing.is_new? ? 'hot' : 'cold' %>
  <div class="<%= hot_or_cold %>">

    <span class="id inline span4"><%= link_to listing.id, listing %></span>
    <span class="mark-hide inline" id="<%= 'listing_' + listing.id.to_s %>">
      <%= link_to 'Hide [x]', "/hide_listing/#{listing.id}", action: :hide_listing, method: :post, remote: true, class: 'hide_listing' %>
    </span>

    <span class="listing junior inline">
      <%= link_to listing.description, listing.url, target: "_blank", id: hot_or_cold %>
    </span>
  </div>
</div>

<% end %>
<div class="top-space-20">

</div>
<hr><hr><hr>
