<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>URL:</strong>
  <span class="id"><%= link_to @listing.url, @listing.url, target: "_blank" %></span>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
