<!DOCTYPE html>
<html ng-app="Listings">
<head>
  <title>CraigslistJobHunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params["controller"] %>" id="<%= params["action"] %>">

  <%= render partial: "shared/navbar" %>
  <div class="container" id="flash-notice-container">
    <% if flash[:notice] %>
    <div class="row">
      <div class="col-md-8 col-md-offset-4 col-xs-12">
        <div class="center-block">
          <div class="btn btn-success btn-lg notice"><%= flash[:notice] %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="container" id="main-body-container">
    <%= yield %>
  </div>
</body>
</html>
