<!DOCTYPE html>
<html ng-app="Listings">
<head>
  <title>CraigslistJobHunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params["controller"] %>" id="<%= params["action"] %>">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Listings', listings_path %></li>
      <li><%= link_to 'Keywords', keywords_path %></li>
    </ul>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
